.bam
/src/game/generated
/objs
/datasrc/*
.pycconfig
.lua
/teeworlds_catching_d
/teeworlds_catching_srv_d
/client_release.bat
/config_directory.bat
/server_debug.bat
/server_release.bat
/server_release-debug.bat
/autoexec.cfg
/-c all.bat
/Catching/Catching.sdf
/Catching/Catching.suo
/data/editor/stuff

/SDL.dll
/bam -call.bat
/client_releasex64.bat
/config.lua
/other/icons/teeworlds.res
/server_releasex64.bat
/teeworlds_catching_srv.exe